body{
    margin: 0;
    padding: 0;
    background-color: rgba(209, 209, 209, 0.979)
}

#enviar{
    padding: 10px;
}

.total{
    margin-top: 10px;
}

.formulario{
    margin-top: 10px;
    width: 40%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(98, 147, 202);
    color: white;
    border: black solid 1px;
    text-align: center;

}

.list{
    border: black solid 1px;
    background-color: rgb(98, 147, 202);
    border-radius: 3px;
    color: white;
}

.list th{
    padding-right: 155px;
}
